{% extends 'MLabsAcraServerBundle::layout.html.twig' %}

{% block main %}

<section class="dashboard">

	<!-- Pie - Number of crashes per application -->

	<!-- List - Applications registered -->

	<!-- List - Last 10 crashes submitted -->
	{{ cards.header('Latest crashes', 'latest-crashes wide', 'div') }}	
		{% if crashes %}
			<table>
				<thead>
					{% block table_headers %}
					<tr>
						<th>Created</th>
						<th>Package</th>
						<th>App version</th>
						<th>Android version</th>
						<th></th>
					</tr>
					{% endblock %}
				</thead>
				<tbody>
				{% for c in crashes %}
					<tr>
						<td class="created-at">{{ c.createdAt | date('d/m/Y H:i:s') }} (UTC)</td>
						<td class="package-name">{{ c.packageName }}</td>
						<td class="app-version">{{ c.appVersionName }}</td>
						<td class="android-version">{{ c.androidVersion }}</td>
						<td class="action-link"><a href="{{ path('_crash_details', {'id': c.id}) }}" class="primary-button">Details</a></td>
					</tr>
				{% endfor %}
				</tbody>
				<tfoot>
					{{ block('table_headers') }}
				</tfoot>
			</table>			
		{% else %}
			<p>No crashes have been submitted yet for your applications</p>
		{% endif %}		
	{{ cards.footer('div') }}

	<!-- Cards - Last 10 crashes submitted -->
	

</section>

{% endblock %}
