{% extends 'MLabsAcraServerBundle::layout.html.twig' %}

{% import 'MLabsAcraServerBundle::breadcrumb.html.twig' as breadcrumb %}
{% import _self as fields %}


{% macro echo(title, value, test, value_wrapper, outer_tag) %}
	{% if test | default(value) %}	
		<{{ outer_tag | default('li') }} class="field">
			<strong class="label">{{ title }}</strong>: <{{value_wrapper | default('span')}} class="value">{{ value }}</{{value_wrapper | default('span')}}>
		</{{ outer_tag | default('li') }}>
	{% endif %}	
{% endmacro %}


{% block main %}

{{ breadcrumb.echo([ 
			{ label: 'Dashboard', link: path('_main_dashboard') },
			{ label: 'App #' ~ issue.packageName, link: path('_app_dashboard', {'packageName': issue.packageName}) },
			{ label: 'Issue #' ~ issue.issueId, link: path('_issue_details', {'id': issue.issueId}) }
		]) }}

<section class="issue-header">
	<h1>{{ issue.packageName }} // Issue #{{ issue.issueId }}</h1>
	
	{% set appVersions = issue.appVersions|split(',')|sort|join(', ') %}			
	{% set androidVersions = issue.androidVersions|split(',')|sort|join(', ') %}
	<ul>
		{{ fields.echo('App versions', appVersions) }}
		{{ fields.echo('Android versions', androidVersions) }}
		{{ fields.echo('Latest crash', "#{issue.latestCrashDate | date('Y-m-d H:i:s')} (UTC)", issue.latestCrashDate) }}
	</ul>
</section>

<section class="issue-crashes">
	<h2>Latest {{ crashes|length }} crashes</h2>

{% if crashes %}
	<table>
		<thead>
			{% block table_headers %}
			<tr>
				<th>Id</th>
				<th>Created</th>
				<th>Package</th>
				<th>App version</th>
				<th>Android version</th>
				<th></th>
			</tr>
			{% endblock %}
		</thead>
		<tbody>
		{% for c in crashes %}
			<tr>
				<td class="id">#{{ c.id }}</td>
				<td class="created-at">{{ c.userCrashDate | date('d/m/Y H:i') }} (UTC)</td>
				<td class="package-name">{{ c.packageName }}</td>
				<td class="app-version">{{ c.appVersionName }}</td>
				<td class="android-version">{{ c.androidVersion }}</td>
				<td class="action-link"><a href="{{ path('_crash_details', {'id': c.id}) }}" class="primary-button">Details</a></td>
			</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			{{ block('table_headers') }}
		</tfoot>
	</table>
{% else %}
	<p>No crashes here</p>
{% endif %}
</section>

{% endblock %}

{% block javascripts %}    
    $(document).ready(function(){ 	    
	    // Tab handling
	    var globalTabOptions = {
		        hide: { effect: "fade", duration: 300 },
		        show: { effect: "fade", duration: 300 },
		        
		       	// Following is to fix the page jump
		       	// see: http://stackoverflow.com/questions/243794/jquery-ui-tabs-causing-screen-to-jump
				select: function(event, ui) {
					jQuery(this).css('height', jQuery(this).height());
					jQuery(this).css('overflow', 'hidden');
				},
				show: function(event, ui) {
					jQuery(this).css('height', 'auto');
					jQuery(this).css('overflow', 'visible');
				}
			};
	    $("#details-tabs").tabs(globalTabOptions);
	});
{% endblock %}

